{% extends "registros/layout.html" %}

{% block body %}
    <h2>Avaliações de {{ empresa.name }}</h2>
    <h2>Média: {{ media }}</h2>
    <h2>Última atualização: {{ empresa.last_updated }} UTC</h2>
    <div>
        <table id="customers">
            <tr>
            <th>Usuários</th>
            <th>Nota</th>
            <th>PM2.5 (pcs/L)</th>
            <th>PM10 (pcs/L)</th>
            <th>CO (ppm)</th>
            <th>CO2 (ppm)</th>
            <th>LPG (ppm)</th>
            <th>CH4 (ppm)</th>
            <th>Umidade (%)</th>
            <th>Temperatura (°C)</th>
            <th>Comentários</th>
            </tr>

            {% for avaliacao in avaliacoes %}
            <tr>
                <td>{{ avaliacao.username }}</td>
                <td>{{ avaliacao.grade }}</td>
                <td>{{ avaliacao.pm25 }}</td>
                <td>{{ avaliacao.pm10 }}</td>
                <td>{{ avaliacao.co }}</td>
                <td>{{ avaliacao.co2 }}</td>
                <td>{{ avaliacao.lpg }}</td>
                <td>{{ avaliacao.ch4 }}</td>
                <td>{{ avaliacao.humidity }}</td>
                <td>{{ avaliacao.temperature }}</td>
                <td>{{ avaliacao.comment }}</td>
            </tr>
            {% empty %}
                <td>Nenhuma avaliação realizada</td>
                <td></td>
                <td></td>
            {% endfor %}
        </table>
    </div>

{% endblock %}