{% extends "registros/layout.html" %}

{% block body %}
    <h2>Avaliações de {{ empresa.name }}</h2>
    <h2>Média: {{ media }}</h2>
    <h2>Última atualização: {{ empresa.last_updated }} UTC</h2>
    <div>
        <table id="customers">
            <tr>
            <th>Usuários</th>
            <th>Nota</th>
            <th>PM2.5</th>
            <th>CO2</th>
            <th>VOC</th>
            <th>O3</th>
            <th>Umidade</th>
            <th>Temperatura</th>
            <th>Comentários</th>
            </tr>

            {% for avaliacao in avaliacoes %}
            <tr>
                <td>{{ avaliacao.username }}</td>
                <td>{{ avaliacao.grade }}</td>
                <td>{{ avaliacao.pm25 }}</td>
                <td>{{ avaliacao.co2 }}</td>
                <td>{{ avaliacao.voc }}</td>
                <td>{{ avaliacao.o3 }}</td>
                <td>{{ avaliacao.humidity }}</td>
                <td>{{ avaliacao.temperature }}</td>
                <td>{{ avaliacao.comment }}</td>
            </tr>
            {% empty %}
                <td>Nenhuma avaliação realizada</td>
                <td></td>
                <td></td>
            {% endfor %}
        </table>
    </div>

{% endblock %}